<div class="row">
<div class="col-md-6" markdown="block">

### Day 1

| Before starting | [Pre-workshop Survey]               |
| Morning         | [Data Organization in Spreadsheets] |
| Afternoon       | [Data Cleaning with OpenRefine]     |
{:.table .table-striped}

</div>
<div class="col-md-6" markdown="block">
	
### Day 2

| Morning       | [Data Analysis and Vizualization with R] |
| Afternoon     | (continued) |
| When finished | [Post-workshop Survey] |	
{:.table .table-striped}

</div>
</div>

[Pre-workshop Survey]: {{ site.dc_pre_survey }}{{ site.github.project_title }} target="_blank"
[Post-workshop Survey]: {{ site.dc_post_survey }}{{ site.github.project_title }} target="_blank"
[Data Organization in Spreadsheets]: https://datacarpentry.github.io/spreadsheets-socialsci/ target="_blank"
[Data Cleaning with OpenRefine]: https://datacarpentry.github.io/openrefine-socialsci/ target="_blank"
[Data Analysis and Vizualization with R]: https://datacarpentry.github.io/r-socialsci/ target="_blank"
