<div class="row">
  <div class="col-md-4">
    <h3 id="syllabus-r">Spreadsheet Organization</h3>
    <ul>
      <li>Formatting data tables</li>
      <li>Formatting problems</li>
      <li>Dates as data</li>
      <li>Quality assurance</li>
      <li><a href="https://datacarpentry.org/spreadsheets-socialsci/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 id="syllabus-r">Preparing Data with OpenRefine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Basic functions</li>
      <li>Advanced Functions</li>
      <li><a href="https://datacarpentry.org/openrefine-socialsci/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Working with vectors and data frames</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Using R from the command line</li>
      <li><a href="https://datacarpentry.org/r-socialsci/reference">Reference...</a></li>
    </ul>
  </div>
</div>
